body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #FFCDCD;
  font-family: 'Raleway', sans-serif;
}

img {
  margin-bottom: 15px;
  border: 2px;
  border-color: black;
  border-style: dotted;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  height: 18px;
}

.addOption {
  margin-top: 14px;
}

button {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 7px;
}
