body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #FFCDCD;
  font-family: 'Raleway', sans-serif;
}

.container {
position: relative;
width:inherit;
}
.overlay {
position: absolute;
bottom: 0;
background: #D7EEF2;
background:rhba(0,0,0,0.5);
color: #f1f1f1;
width: 520px;
transition: .5s ease;
opacity: 0;
color: black;
font-size: 20px;
padding: 20px;
text-align: center;
}

.container:hover .overlay {
  opacity: 1;
};

img {
  margin-bottom: 15px;
  margin-top: 15px;
  border: 2px;
  border-color: black;
  border-style: dotted;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  height: 18px;
}

.addOption {
  margin-top: 14px;
}

button {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    background-color: white;
    padding: 7px 9px;
    box-shadow: 1px 3px #999;
    border-radius: 4px;
}

button:hover {background-color:#FBFAE1}
button:active {
  background-color: white;
  box-shadow: 0 1px #AAAAAA;
  transform: translateY(3px);
}
